<div class="section--hero">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="hero-header">
          <p class="hero-top-text">
            bedroom <span class="hero-header-bold">furniture</span>
          </p>
          <p class="hero-discount-text">
            always <span class="hero-discount-color"> 25 %</span> off or more
          </p>
        </div>
        <div>
          <div class="hero-list">
            <a href="#">home</a> <a class="chevron" href="#"> > </a>
            <a href="#">furniture</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
